doctype html 
html 
    head
    body 
        header.header Header 
            //
                start my skills
            ul 
                li Java
                li python
                li: a data
            // end my skills
            //- making a paragraph
            p this is a 
                b paragraph
                |  not long 
                b text 
                | at last
            //- adding white space
            |   
            |   
            . 
                simple text