doctype html 
html 
    head
    body 
        header.header Header 
            //
                start my skills
            ul 
                li Java
                li python
                li: a data
            // end my skills
            //- comment for pug 